* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  background: #edf0f4 0% 0% no-repeat padding-box;
}

.App {
  max-width: 1500px;
  width: 96%;
  margin: 0 auto;
  padding: 2rem;
}

/* Custom Classes */
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-tb-30 {
  margin: 30px 0;
}
.m-t--10 {
  margin-top: -10px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-45 {
  padding: 45px;
}
.txt-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.f-dir-col {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.inline-ul {
  display: inline;
}
.inline-ul li {
  display: inline;
}
.m-0 {
  margin: 0px;
}

/* Text Color */
.dark-txt {
  color: #202d35;
}
.dark-2-txt {
  color: #3c505e;
}
.light-txt {
  color: #acacac;
}

.red {
  color: #f46060;
}

.green {
  color: #3bb54a;
}
.blue {
  color: #2655aa;
}
/* Text Size */
.primary-heading {
  font-size: 2rem;
}

.t-md {
  font-size: 18px;
}

.t-sm {
  font-size: 16px;
}

.t-xsm {
  font-size: 14px;
  line-height: 1.7;
}

/* Text Style */

.t-i {
  font-style: italic;
}

/* Font Weight */

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 1024px) {
  .primary-heading {
    font-size: 1.5rem;
  }

  .t-md {
    font-size: 13px;
  }

  .t-sm {
    font-size: 12px;
  }
}
/* bottom section */
.bottom-section {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  .bottom-section {
    display: grid;
    grid-template-columns: 40% 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .bottom-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
}

/* BUTTONS */
:root {
  --green: #02976c;
  --light-green: #12b596;
  --grey: #acacac;
  --white: #fff;
  --black: #000;
  --blue: #0071ff;
}

.bttn {
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease;
}

.bttn:hover {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0px 11px 17px #d3dae270;
  opacity: 0.8;
}

.bttn:active {
  transform: scale(1) translateY(5px);
  box-shadow: 0px 11px 17px #d3dae270;
}

.bttn-green {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
}

.bttn-light-green {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  color: var(--white);
}

.bttn-grey {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--white);
}

.bttn-white {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--black);
}

.bttn-blue {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

button:disabled {
  cursor: not-allowed;
  transition: none;
}

button:disabled:hover {
  transform: none;
}
/* .btn-sm {
  padding: 15px 22px;
}

.btn-md {
  padding: 15px 32px;
}

.btn-lg {
  padding: 15px 40px;
}

.btn-xlg {
  padding: 15px 43px;
} */

@media screen and (max-width: 1024px) {
  .bttn {
    padding: 0.8rem 1.1rem;
  }
}

/* card  */
.crd {
  background-color: #fff;
  box-shadow: 0px 11px 17px #d3dae270;
  border-radius: 15px;
  padding: 25px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bttn-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.bttn-container .bttn {
  margin: 1rem 0.5rem;
}

@media screen and (max-width: 992px) {
  .header {
    display: block;
  }

  .header > div {
    justify-content: center;
  }
}

/* BG-light grey */
.light-grey-bg {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 11px 17px #d3dae270;
  border-radius: 15px;
  /* padding: 25px; */
}

/* PRoduct feed */
.p-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-secnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
}

.p-secnd p {
  font-size: 16px;
}

/* .light-grey-bg {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 11px 17px #d3dae270;
  border-radius: 15px;
  /* padding: 25px; */

tr {
  border: none;
}

.data-table {
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
}
.data-table h1 {
  margin: 0;
  margin-bottom: 10px;
}
.data-table table {
  border-spacing: 0;
  width: 100%;
}
.data-table table tr :last-child td {
  border-bottom: 0;
}
.data-table table thead th {
  margin: 0;
  padding: 0.8rem;
  text-align: left;
  background: #f3f3f3;
}
.data-table table thead th :first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.data-table table thead th :last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.data-table table td {
  margin: 0;
  padding: 0.5rem;
  padding-left: 0.8rem;
}
.data-table table td :last-child {
  border-right: 0;
}
.data-table table tbody:before {
  content: "@";
  display: block;
  line-height: 2rem;
  text-indent: -99999px;
}
